body {
  margin: 0;
  padding: 0;
  /* Set background properties */
  background-image: url("../KhEC.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-position: fixed; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
